.repo {
  width: 100%;
  padding: 10px 15px;
  box-shadow: 1px 2px 0 #8e8d8a;
  margin-bottom: 15px;
  background: #e98074;
  color: #fff;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 15px;
  align-items: center;
}

.repo-stars {
  justify-self: end;
}
