* {
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  color: white;
  min-height: 100vh;
  padding: 30px 0 60px;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.main {
}

.main-content {
  margin: 1.5rem 0 0;
}

.search {
  text-align: center;
}

.search-input {
  padding: 0 10px;
  height: 45px;
  width: 350px;
  border: none;
  font-size: 16px;
}

.search-btn {
  height: 45px;
  width: 75px;
  border: none;
  cursor: pointer;
  background: #5c606a;
  color: #fff;
  font-size: 16px;
}
